<div class=container4>
    <p-card header="Loteriada świąteczna" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        <p style="text-align: center;"><b>Dodaj osoby biorące udział w loteriadzie</b></p>
        <input type="text" pInputText [(ngModel)]="newPerson" placeholder="Dodaj nową osobę" />
        <button pButton type="button" label="Dodaj" class="p-button-success" (click)="addPerson()" (keydown.enter)="addPerson()" *ngIf="newPerson"></button>
        <button pButton type="button" label="Usuń" class="p-button-danger" (click)="deletePerson()" *ngIf="selectedPerson.name"></button>
        <p-listbox [options]="persons" optionLabel="name" emptyMessage="Brak osób do wybrania" [(ngModel)]="selectedPerson">
        </p-listbox>

        <p style="text-align: center;"><button pButton type="button" label="Losuj pary" class="p-button-info" (click)="losujPary()" *ngIf="persons"></button></p>
        <ul>
            <li *ngFor="let item of randomPairs; let i = index">
                {{i+1}}. {{item.p1.name}} {{item.p2.name ? "kupuje prezent dla" : ""}} {{item.p2.name}}
            </li>
        </ul>
    </p-card>
</div>